/* Start Importing Fonts */
@font-face {
    src: url("../fonts/Muli.ttf");
    font-family: 'Muli';
}

@font-face {
    src: url("../fonts/Muli-Light.ttf");
    font-family: 'Muli-light';
}

@font-face {
    src: url("../fonts/Muli-Bold.ttf");
    font-family: 'Muli-Bold';
}

@font-face {
    src: url("../fonts/Muli-SemiBold.ttf");
    font-family: 'Muli-SemiBold';
}

@font-face {
    src: url("../fonts/georgia bold.ttf");
    font-family: 'georgia';
}

@font-face {
    src: url("../fonts/Painter_PERSONAL_USE_ONLY.ttf");
    font-family: 'Painter';
}
/* End Importing Fonts */

/* Start General Styles */

:root
{
    --primary: #0C3653;
    --secondry: #F98169;
    --gray: #AEB2B4;
}

body
{
    background: url("../images/food.png") no-repeat right bottom;
    overflow-x: hidden;
}
/* End General Styles */

/* Start Overwriting Bootstrap Classes */

.navbar
{
    padding-top: 4vh;
    background: transparent;
}

@media (max-width: 767px) {
    .navbar:nth-child(1)
    {
        width: 100%;
        position: fixed;
        z-index: 9999;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }
    .scroll
    {
        background: #efebe2;
    }
}

.nav > li > a:hover,
.nav > li > a:focus
{
    background-color: transparent;
    color: #0A4065;
    opacity: 1;

}

.text-primary
{
    color: var(--primary);
}

.text-secondary
{
    color: var(--secondry);
}

.text-gray
{
    color: var(--gray);
}

.btn-secondary {
    color: #fff;
    background-color: var(--secondry);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 15px 29px rgba(249,129,105,0.69);
}
.btn-secondary:focus,
.btn-secondary.focus {
    color: #fff;
    background-color: #d96c58;
    border-color: var(--secondry);
}
.btn-secondary:hover {
    color: #fff;
    background-color: #d96c58;
    border-color: var(--secondry);
}

.navbar-toggle .icon-bar
{
    background: var(--primary);
}
/* End Overwriting Bootstrap Classes */


/* Start Header */

/* Start Navbar */

.navbar .navbar-brand
{
    font-family: 'Painter', sans-serif;
    font-size: 36px;
    color: #452268;
    margin-right:6vw
}

.nav > li > a
{
    color: var(--gray);
    font-size: 16px;
    font-family: 'Muli-SemiBold', sans-serif;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.nav > li.active > a
{
    color: #0A4065;
    opacity: 1;
}

/* End Navbar */

.header
{
    background: url('../images/header.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 99vw;
    position: relative;
}

.header .overlay
{
    position: absolute;
    top: 0; left: 0;
    background: url('../images/overlay.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 99vw;
}

.header .header-text {margin-top: 24vh;}

@media (max-width: 767px) {
    .header .header-text {margin-top: 34vh;}
}

.header .header-text h1
{
    color: #255A7E;
    font-family: 'Muli-light',sans-serif;
    font-size: 57px;
    margin-bottom: 4vh;
}

@media (max-width: 767px) {
    .header .header-text h1
    {
        font-size: 37px;
        margin-bottom: 6vh;
    }
}

.header .header-text p.lead
{
    font-size: 16px;
    font-family: 'Muli-SemiBold',sans-serif;
    margin-bottom: 5vh;
}

.header .header-text button
{
    padding: 4% 8%;
    margin-right: 15px;
    font-size: 18px;
    font-family: 'Muli-Bold',sans-serif;
}

.header .header-text span:first-of-type
{
    font-size: 18px;
    font-family: 'Muli-SemiBold', sans-serif;
    color: #0B314B;
    opacity: 0.51;
    margin-right: 15px;
}

.header .header-text span.btn-secondary
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}

/* End Header */

/* Start About Section */

.about
{
    background-size: 180% 110%;
    background: url('../images/about.png') no-repeat -27vw -4vh;
    min-height: 200vh;
}

.about .row
{
    min-height: 100vh;
}

.about .text-left img
{
    width: 80%;
    margin: 10vh 10%;
    height: 80vh;
}

.about .text-left img
{
    border-radius: 100px 0 100px 0;
    box-shadow: 0 47px 99px #C5C9CB;
}

@media (max-width: 767px){
    .about .text-left img
    {
        margin: 10vh 10% 0;
        height: 60vh;
    }
}

.about img[dir="rtl"]
{
    width: 100%;
    height: 90vh;
    margin: 0 0 5vh;
    position: relative;
    top: -7vh;
}

@media (max-width: 767px) {
    .about img[dir="rtl"]
    {
        top: 0;
        margin: 0 0 0;
    }
}

.about .data
{
    margin:25vh 0;
}

@media (max-width: 767px) {
   .about .data
    {
       margin: 8vh 0 13vh 0;
       text-align: center;
    }
}

.about .data h2
{
    font-family: 'Georgia',sans-serif;
    font-size: 36px;
    color: var(--primary);
    margin-bottom: 6vh;
}

@media (max-width: 767px) {
    .about .data h2
    {
        font-size: 23px;
        margin-bottom: 3vh;
    }
}

.about .data p.lead
{
    color: var(--gray);
    font-family: 'Muli-SemiBold',sans-serif;
    font-size: 16px;
    margin-bottom: 8vh;
}

@media (max-width: 767px) {
    .about .data p.lead
    {
        font-size: 16px;
        margin-bottom: 3vh;
    }
}

.about .data button
{
    padding: 4% 6%;
    font-size: 18px;
    font-family: 'Muli-Bold',sans-serif;
}

/* End About Section */

/* Start Video Section */

.video
{
    background: url('../images/ved1.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    min-height: 70vh;
    position: relative;
}

.video .overlay
{
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background: rgba(10,64,101,0.49);
    color: white;
}

.video h2
{
    font-size: 36px;
    font-family: 'Georgia',sans-serif;
    margin: 16vh 0 5vh 0;
    padding: 0 100px;
}

@media (max-width: 1200px) and (min-width: 992px) {
    .video h2
    {
        font-size: 30px;
        padding: 0 70px;
    }
}

@media (min-width: 768px) and (max-width: 992px)
{
    .video h2
    {
        font-size: 26px;
        padding: 0 70px;
    }
}

@media (max-width: 767px) {
    .video h2
    {
        padding: 0;
        font-size: 26px;
        margin: 15vh 0 5vh 0;
    }
}

.video p
{
    padding: 0 13vw;
    margin-bottom: 60px;
}

@media (max-width: 767px) {
    .video p
    {
        padding: 0;
        margin-bottom: 60px;
    }
}

.video .btn-outline-primary
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

.video .btn-outline-primary:hover
{
    color: var(--secondry);
    border-color: var(--secondry);
}

.video span:not(.btn-outline-primary)
{
    display: block;
    font-size: 16px;
    font-family: 'Muli',sans-serif;
}
/* End Video Section */

/* Start Product Section */

.products
{
    margin: 80px 0;
}

.products h2
{
    font-size: 36px;
    font-family: 'Georgia',sans-serif;
    color: var(--primary);
}

.products .lead
{
    font-family: 'Muli-SemiBold',sans-serif;
    color: var(--gray);
    font-size: 16px;
    width: 50%;
    margin: 0 24% 43px 24%;
}

@media (max-width: 767px) {
    .products .lead
    {
        width: 100%;
        margin: 0 0 30px;
    }
}

.products .product
{
    border-radius: 13px;
    background: white;
    box-shadow: 0 17px 16px rgba(235,241,245,0.55);
    margin-bottom: 50px;
    padding-bottom: 22px;
    cursor: pointer;
}

.products .product img
{
    width: 100%;
}

.products .product h3
{
    font-size: 18px;
    color: var(--primary);
    font-family: 'Georgia',sans-serif;
    padding: 0 19px;
}

.products .product h3 span
{
    font-size: 25px;
    color: var(--secondry);
    text-align: right;
    width: 45%;
    display: inline-block;
}

.products .product p.lead
{
    font-size: 14px;
    margin: 0;
    width: 100%;
    padding: 0 19px;
}

.products .btn
{
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    border-radius: 0;
    padding: 1.5% 5.5%;
    box-shadow: 0 15px 29px rgba(249,129,105,0.68);
}

/* End Product Section */

/* Start Recipes Section */

.Recipes
{
    min-height: 40vh;
    padding-top: 50px;
}

.Recipes h2
{
    font-size: 36px;
    font-family: 'Georgia',sans-serif;
    color: var(--primary);
    margin-bottom: 50px;
}

.swiper-container {
    width: 100%;
}

.swiper-wrapper
{
    height: 50vh;
    max-height: 349px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 992px) {
    .swiper-slide
    {
        width: 50%;
    }
}

@media only screen and (max-width: 769px) {
    .swiper-slide
    {
        width: 70%;
    }
}

.swiper-slide img,
.swiper-slide .overlay{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.swiper-slide .overlay
{
    position: absolute;
    top: 100%; left: 0;
    background: rgba(11,49,75,0.66);
    transition: all 0.3s ease-in-out;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0 0 0 30px;
    text-align: left;
}

@media (max-width: 767px) {
    .swiper-slide .overlay
    {
        top: 0;
    }
}

.swiper-slide:hover .overlay
{
    top: 0;
}

.swiper-slide .overlay h3
{
    font-size: 22px;
    font-family: 'Georgia',sans-serif;
}

.swiper-slide .overlay p.lead
{
    font-size: 14px;
    font-family: 'Muli-SemiBold',sans-serif;
    margin-bottom: 40px;
}

.swiper-slide .overlay a.btn-secondary
{
    border-radius: 0;
    position: absolute;
    right: 0;
    width: 80px;
    height: 46px;
    font-size: 24px;
}

/* End Recipes Section */

/* Start Newsletter Section */

.newsletter
{
    background: url('../images/overlay.png') no-repeat center center fixed;
    position: relative;
}

.newsletter .news
{
    background: white;
    border-radius: 13px;
    box-shadow: 0 17px 16px #EBF1F58C;
    margin: 20% 0 10% 0;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter .news h2
{
    font-size: 36px;
    font-family: 'Georgia',sans-serif;
    color: var(--primary);
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .newsletter .news h2
    {
        font-size: 26px;
    }
}

.newsletter .news form
{
    width: 67%;
    min-height: 63px;
}

@media (max-width: 767px) {
    .newsletter .news form
    {
        width: 90%;
        min-height: 30px;
    }
}

.newsletter .news input
{
    border-radius: 13px 0 0 13px;
    background: #F9FBFB;
    margin-right: -5px;
    width: 67%;
    height: 100%;
    float: left;
}

.newsletter .news button
{
    width: 33%;
    height: 100%;
    border-radius: 0 13px 13px 0;
}

/* End Newsletter Section */

/* Start footer Section */

footer
{
    margin: 75px 0 20px 0;
}

@media (max-width: 767px) {
    footer
    {
        margin: 75px 0 0 0;
        background: rgba(182,216,9,0.7);
    }
}

footer .footer-data
{
    margin-bottom: 75px;
}

footer .footer-data hr
{
    margin-inline-start: 0;
    width: 65%;
    min-width: 625px;
}

footer .footer-data hr:last-of-type
{
    margin-top: 10px;
}


footer .footer-data .navbar
{
    padding-top: 0;
    margin-bottom: 0;
}



footer .footer-data a.text-primary
{
    font-size: 20px;
    margin: 0 20px 0 7px;
}

footer p.copyright
{
    font-size: 16px;
    font-family: 'Muli',sans-serif;
    color: var(--gray);
}
/* End footer Section */